<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p><b>This site was created by Saurabh kumar.<br> It uses data from mapbox.com and weatherstack.com!</b></p>
        <br>
        <img class="portrait" src="/img/My Pic.jpg"> 
    </div>    
    {{>footer}}

</body>

</html>